Repository MyPureCloud/genesys-spark, pull requests merged in 2023-11, with the labels that each got.

#67 refactor(color-picker): missing tokens
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-color/gux-form-field-color.scss
Labels: V4 Release Components

#72 refactor(tokens): update tokens
  packages/genesys-spark-tokens/data/tokens.json
  packages/genesys-spark-tokens/snapshot/css/gse-ui-navigation.css
  packages/genesys-spark-tokens/snapshot/css/gse-ui.css
  packages/genesys-spark-tokens/snapshot/json/gse-ui-navigation.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui.json
  packages/genesys-spark-tokens/snapshot/less/gse-ui-navigation.less
  packages/genesys-spark-tokens/snapshot/less/gse-ui.less
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-navigation.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui.scss
Labels: V4 Release Components

#62 fix(gux-copy-to-clipboard): token fixes
  packages/genesys-spark-components/src/components/stable/gux-copy-to-clipboard/gux-copy-to-clipboard.scss
Labels: V4 Release Components

#73 fix(tooltip): hiding tooltip when target is scrolled out of view (backport)
  packages/genesys-spark-components/src/components/stable/gux-tooltip/gux-tooltip.tsx
Labels: bug, backport

#74 fix(gux-popover): added token for arrow
  packages/genesys-spark-components/src/components/stable/gux-popover/gux-popover.scss
Labels: V4 Release Components

#80 fix(copy-to-clipboard): prevent icon from shrinking
  packages/genesys-spark-components/src/components/stable/gux-copy-to-clipboard/gux-copy-to-clipboard.scss
Labels: V4 Release Components

#78 fix(breadcrumb): adding focus tokens
  packages/genesys-spark-components/src/components/stable/gux-breadcrumbs/breadcrumb-item/gux-breadcrumb-item.scss
  packages/genesys-spark-components/src/components/stable/gux-breadcrumbs/breadcrumb-item/readme.md
Labels: V4 Release Components

#84 fix(copy-to-clipboard): prevent icon from shrinking
  packages/genesys-spark-components/src/components/beta/gux-copy-to-clipboard/gux-copy-to-clipboard.less
Labels: bug, backport

#88 refactor(tokens): updating tokens
  packages/genesys-spark-components/src/components/stable/gux-copy-to-clipboard/readme.md
  packages/genesys-spark-tokens/data/tokens.json
  packages/genesys-spark-tokens/snapshot/css/gse-ui-formControl.css
  packages/genesys-spark-tokens/snapshot/css/gse-ui-formsAndInputs.css
  packages/genesys-spark-tokens/snapshot/json/gse-ui-formControl.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-formsAndInputs.json
  packages/genesys-spark-tokens/snapshot/less/gse-ui-formControl.less
  packages/genesys-spark-tokens/snapshot/less/gse-ui-formsAndInputs.less
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-formControl.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-formsAndInputs.scss
Labels: V4 Release Components

#92 refactor(tokens): update tokens
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/i18n/translations/en.json
  packages/genesys-spark-tokens/data/tokens.json
  packages/genesys-spark-tokens/snapshot/css/gse-ui-feedback.css
  packages/genesys-spark-tokens/snapshot/css/gse-ui-formControl.css
  packages/genesys-spark-tokens/snapshot/css/gse-ui-formsAndInputs.css
  packages/genesys-spark-tokens/snapshot/json/gse-ui-feedback.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-formControl.json
  packages/genesys-spark-tokens/snapshot/json/gse-ui-formsAndInputs.json
  packages/genesys-spark-tokens/snapshot/less/gse-ui-feedback.less
  packages/genesys-spark-tokens/snapshot/less/gse-ui-formControl.less
  packages/genesys-spark-tokens/snapshot/less/gse-ui-formsAndInputs.less
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-feedback.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-formControl.scss
  packages/genesys-spark-tokens/snapshot/scss/_gse-ui-formsAndInputs.scss
Labels: V4 Release Components

#93 refactor(dropdown,dropdown-multi): adding missing gux-filter-suggestion tokens
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/gux-dropdown-multi.scss
  packages/genesys-spark-components/src/components/stable/gux-dropdown/gux-dropdown.scss
Labels: V4 Release Components

#94 refactor(form-field-range): addition of missing tokens
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-range/gux-form-field-range.scss
Labels: V4 Release Components

#98 refactor(tabs): missing tokens
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tab-list/gux-tab-list.scss
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tab-panel/gux-tab-panel.scss
  packages/genesys-spark-components/src/components/stable/gux-tabs/gux-tab/gux-tab.scss
Labels: V4 Release Components

#79 refactor(form-field-checkbox): ux review comments
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-checkbox/gux-form-field-checkbox.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/functional-components/gux-form-field-help/gux-form-field-help.scss
Labels: V4 Release Components

#103 refactor(popover): update example file to match figma
  packages/genesys-spark-components/src/components/stable/gux-popover/example.html
Labels: V4 Release Components

#110 refactor(time-zone-picker-beta): ux review comments
  packages/genesys-spark-components/src/components/beta/gux-time-zone-picker/gux-time-zone-picker.scss
Labels: V4 Release Components

#119 refactor(toggle): add missing stylings for label
  packages/genesys-spark-components/src/components/stable/gux-toggle/gux-toggle.scss
Labels: V4 Release Components

#125 refactor(phone-input): prevent selection of text in disabled input
  packages/genesys-spark-components/src/components/beta/gux-phone-input/gux-phone-input.scss
  packages/genesys-spark-components/src/components/beta/gux-phone-input/gux-phone-input.tsx
Labels: V4 Release Components

#129 refactor(toggle): prevent clickable area expanding past toggle-slider
  packages/genesys-spark-components/src/components/stable/gux-icon/readme.md
  packages/genesys-spark-components/src/components/stable/gux-toggle/gux-toggle-slider/gux-toggle-slider.scss
  packages/genesys-spark-components/src/components/stable/gux-toggle/gux-toggle.scss
  packages/genesys-spark-components/src/components/stable/gux-toggle/gux-toggle.tsx
  packages/genesys-spark-components/src/components/stable/gux-toggle/tests/gux-toggle.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-toggle/tests/gux-toggle.spec.ts
Labels: V4 Release Components

#138 refactor(phone-input): ux review comments
  packages/genesys-spark-components/src/components/beta/gux-phone-input/gux-phone-input.scss
Labels: V4 Release Components

#76 fix(gux-form-field-color): added border styles
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-color/gux-form-field-color.light.scss
  packages/genesys-spark-components/src/components/stable/gux-form-field/components/gux-form-field-color/gux-form-field-color.scss
  packages/genesys-spark-components/src/style/style.scss
Labels: V4 Release Components

#140 fix(toggle): prevent clickable area expanding past toggle-slider
  packages/genesys-spark-components/src/components/stable/gux-toggle/gux-toggle.less
  packages/genesys-spark-components/src/components/stable/gux-toggle/gux-toggle.tsx
  packages/genesys-spark-components/src/components/stable/gux-toggle/tests/gux-toggle.e2e.ts
  packages/genesys-spark-components/src/components/stable/gux-toggle/tests/gux-toggle.spec.ts
Labels: bug, backport

#142 fix(calendar): remove stylings if same date selected
  packages/genesys-spark-components/src/components/stable/gux-calendar/gux-calendar.tsx
Labels: bug, V4 Release Components

#146 fix(calendar): remove stylings if same date selected
  packages/genesys-spark-components/src/components/stable/gux-calendar/gux-calendar.tsx
Labels: bug, backport

#171 fix(dropdown): fixed keyboard navigation issue
  packages/genesys-spark-components/src/components/stable/gux-dropdown-multi/gux-dropdown-multi.tsx
  packages/genesys-spark-components/src/components/stable/gux-dropdown/gux-dropdown.tsx
Labels: UX Review Wanted

#176 refactor(toggle): addition of new check icon
  packages/genesys-spark-components/src/components/stable/gux-toggle/gux-toggle-slider/gux-toggle-slider.scss
  packages/genesys-spark-components/src/components/stable/gux-toggle/gux-toggle-slider/gux-toggle-slider.tsx
  packages/genesys-spark-components/src/components/stable/gux-toggle/tests/__snapshots__/gux-toggle.spec.ts.snap
Labels: V4 Release Components
